@import "tailwindcss";



@theme inline {

  /* Custom colors */
  --color-cream: #F7ECE1;
  --color-lavender-gray: #CAC4CE;
  --color-muted-purple: #8D86C9;
  --color-vibrant-purple: #725AC1;
  --color-deep-indigo: #242038;
  --color-coral: #F27059;
  --color-near-black: #050316;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif, Cairo;
}

.section_container {
  @apply container mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}

.section {
  @apply w-full py-18 md:py-22 lg:py-24;
}